{{ define "main" }}
{{ if not .Params.content_blocks }}
<div class="container animate">
  <div class="row">
    {{ $pages := where site.RegularPages "Section" "projects" }}
    {{ $sorted := sort $pages "Weight" "desc" }}
    {{ range $sorted }}
      {{ partial "bookshop" (slice "project-card" (dict 
        "url" .RelPermalink 
        "image" .Params.image 
        "title" .Params.title
        "subtitle" .Params.subtitle
        "description" .Params.description
        "tags" .Params.tags
        "demo_url" .Params.demo_url
        "repo_url" .Params.repo_url)) }}
    {{ end }}
  </div>
</div>
{{ end }}
{{ end }}
